<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchematicScriptCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <SchematicScriptCreator.Properties.Settings>
            <setting name="WorkingDir" serializeAs="String">
                <value />
            </setting>
            <setting name="InputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="tbExtPathSigmaStitch" serializeAs="String">
                <value />
            </setting>
            <setting name="tbExtPathCodeGen" serializeAs="String">
                <value />
            </setting>
        </SchematicScriptCreator.Properties.Settings>
    </userSettings>
</configuration>
